.container {
  margin: 200px;
  width: 300px;
  height: 300px;
}

.load {
  height: 100px;
  position: relative;
  width: 100px;
  animation: pulse 2000ms linear infinite;
  position: absolute;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
  /** height is required as absolute value **/
  background-color: #6bcd5c;
  border-radius: 100px;
}

.load:after,
.load:before {
  margin: 0px;
  margin-left: -50px;
  display: inline-block;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #6bcd5c;
}

.load:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.load:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}

.load-1 {
  height: 100px;
  left: 50px;
  top: -100px;
  position: relative;
  width: 100px;
}

.load-pulse {
  animation: pulse 2000ms linear infinite;
  position: absolute;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
  top: 50px;
}

.load-pulse-container {
  margin-top: -50px;
  left: 0;
  /** height is required as absolute value **/
  background-color: #6bcd5c;
  border-radius: 100px;
}

.load-pulse-container:after,
.load-pulse-container:before {
  margin: 0px;
  margin-left: -50px;
  display: inline-block;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #6bcd5c;
}

.load-pulse-container:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.load-pulse-container:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@keyframes outer-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes outer-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes inner-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

body {
  color: white;
  text-align: center;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}

.menu {
  position: absolute;
  margin-left: 50px;
  margin-top: 5px;
  width: 650px;
  height: 50px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  -webkit-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo");
}

.menu-item,
.menu-open-button {
  background: #6bcd5c;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: -75px;
  margin-top: 0;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-item.active {
  background: #4a80c7;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button {
  background: #4a80c7;
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:hover {
  background: white;
  color: #00bcd4;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  background: #4a80c7;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
  transition-duration: 190ms;
  -webkit-transform: translate3d(110px, 0, 0);
  transform: translate3d(110px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
  transition-duration: 290ms;
  -webkit-transform: translate3d(220px, 0, 0);
  transform: translate3d(220px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
  transition-duration: 390ms;
  -webkit-transform: translate3d(330px, 0, 0);
  transform: translate3d(330px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 490ms;
  transition-duration: 490ms;
  -webkit-transform: translate3d(440px, 0, 0);
  transform: translate3d(440px, 0, 0);
}

/*-------------------------------*/

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 12px;
  line-height: 18px;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
}

#sidebar {
  background: rgba(60, 68, 79, 0.8);
  border: none;
  bottom: 0;
  color: #999;
  padding: 25px 20px;
  position: fixed;
  right: -300px;
  top: 0;
  transition: .3s right ease-out;
  width: 250px;
  word-break: break-word;
  z-index: 10;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sidebar.active {
  right: 0;
}

.box-title {
  color: white;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}

#sidebar h3 {
  font-size: 24px;
  color: #6bcd5c;
  font-weight: normal;
  letter-spacing: -0.36px;
  line-height: 37px;
  margin-bottom: 10px;
  margin-top: 20px;
  float: left;
}

.box-content {
  background-color: #ffffff;
  padding: 12px 15px;
  padding: 10px 15px;
}

.box-closeButton {
  top: 12px;
  right: 12px;
  bottom: 0;
  width: 12px;
  cursor: pointer;
  position: absolute;
}

.box-closeButton path {
  fill: #aaa;
}

.box-closeButton:hover path {
  fill: #888;
}

.description-title {
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  float: left;
  width: 50%;
  text-transform: uppercase;
}

.description-value {
  color: #999;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  float: left;
  width: 50%;
}

.mapicon {
  cursor: pointer;
  position: absolute;
  z-index: 9999999;
  width: 100px;
  height: 100px;
}

.mapicon .click-area {
  width: 100px;
  height: 100px;
}

/*-------------------------------*/

.jBox-container {
  margin-left: 1200px;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #505963;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #8f99a4;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

a:hover {
  color: #505963;
  text-decoration: none;
}