body {
  background: #39414b;
}

.sidebar-main {
  position: fixed;
  top: 0;
  bottom: 0;
}

.content-wrapper {
  padding-left: 260px;
}

.navbar-inverse {
  background: #3b434d;
  border: none;
  height: 46px;
  margin-left: 260px;
  font-size: 11px;
}

.navbar-inverse .navbar-nav > li > a {
  padding-right: 0;
}

.navbar-header .logo {
  display: inline-block;
  float: left;
  line-height: 25px;
  margin-right: 15px;
  padding-left: 15px;
  color: #a7abb0;
}

.navbar-header .logo i {
  border: 1px #a7abb0 solid;
  border-radius: 25px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  margin-right: 5px;
  width: 25px;
}

.navbar-header .select {
  float: left;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  width: 120px;
}

.navbar-header .select:after {
  color: #4e5966;
  content: "\edc6";
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 3px;
}

.navbar-header .select .form-control {
  background: transparent;
  border: #4e5966 1px solid;
  border-radius: 25px;
  font-size: 11px;
  color: #4e5966;
  height: 25px;
  line-height: 25px;
  -moz-appearance: none;
  padding-top: 0;
  padding-right: 25px;
  -webkit-appearance: none;
  width: 120px;
  position: relative;
  z-index: 2;
}

.navbar-header span {
  color: #4e5966;
  float: left;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar-right .btn {
  background: transparent;
  border: #4e5966 1px solid;
  border-radius: 25px;
  font-size: 11px;
  color: #4e5966;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  margin-right: 10px;
  -moz-appearance: none;
  padding-top: 0;
  -webkit-appearance: none;
}

.navbar-right .btn.btn-icon {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 25px;
}

.navbar-right .btn.btn-icon i:before {
  font-size: 11px;
  line-height: 24px;
}

.navbar-right > .dropdown-user > a > span {
	color: #a7abb0; 
}

.navbar-right > .dropdown-user > a > i:before {
	color: #a7abb0; 
}

.sidebar-user {
  border-bottom: #30373e 2px solid;
}

.sidebar-user .media {
  text-align: center;
}

.sidebar-category ul {
  margin-top: 10px;
}

.sidebar-category li {
  font-size: 11px;
}

.sidebar-category li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 30px;
  line-height: 22px;
}

.sidebar-category .btn {
  background: #41474f;
  border: none;
  border-radius: 22px;
  color: #b7b9bc;
  float: right;
  font-size: 11px;
  height: 22px;
  line-height: 22px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.sidebar-category .btn.btn-icon {
  width: 22px;
}

.sidebar-category .btn.btn-icon i:before {
  font-size: 11px;
  line-height: 25px;
}

.sidebar-category .label {
  border: none;
  border-radius: 22px;
  color: #202730;
  height: 22px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}

.sidebar-category .group-title {
  color: #4a5766;
  margin-left: 20px;
  text-transform: uppercase;
  border-top: #30373e 2px solid;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.sidebar-category .label-group .label:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 1px;
}

.sidebar-category .label-group .label:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.main-chart {
  height: 500px;
}

.panel {
  border-radius: 0;
}

.panel.panel-flat:last-child {
  margin-bottom: 0;
}

.panel > .table-responsive > .table > thead > tr > th {
  color: #bababa;
  border-bottom: none;
}

.panel > .table-responsive > .table > tbody > tr > td {
  color: #bababa;
  border: none;
}

.panel > .table-responsive > .table > tbody > tr > td > strong {
  color: #8b8b8b;
}

.panel > .table-responsive > .table > tbody > tr > td > .label {
  background: #e5e5e5;
  color: white;
  border-radius: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  border: none;
  margin-right: 10px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f6f6f6;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background: #ffffff;
}

.graph-content {
  position: relative;
  height: 220px;
}

.graph-content .content-group {
  position: absolute;
  top: 0;
  left: 0;
  height: 220px;
  width: 100%;
}