/* Coolors Exported Palette - coolors.co/f74750-752d43-ba8f5b-a3586d-ed9890 */
* {
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #752d43;
  color: #a3586d;
  font-family: 'source-code-pro', monospace;
}

#side-nav {
  position: fixed;
  z-index: 10;
  min-width: 230px;
  max-width: 230px;
  height: 100vh;
  background: #752d43;
  color: white;
}
#side-nav h3 {
  margin: 0;
  padding: 1.5em 1.25em;
  color: #f74750;
}
#side-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
#side-nav li {
  line-height: 2.5em;
  height: 2.5em;
  padding: 0 1.5em;
  margin: 0;
}
#side-nav li a i {
  position: relative;
  font-size: 175%;
  text-align: center;
  top: 0.15em;
  margin-right: 0.5em;
  width: 1.25em;
}
#side-nav li a:before {
  display: none;
}

#main {
  width: 100%;
  padding: 1.5em 1.5em 1.5em 230px;
  background: #752d43;
}

#main.ng-hide-add, #main.ng-hide-remove {
  -webkit-transition: all 0.3s cubic-bezier(0.69, 0.17, 0.16, 0.92);
          transition: all 0.3s cubic-bezier(0.69, 0.17, 0.16, 0.92);
}

#main.ng-hide {
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
          transform: scale3d(0.9, 0.9, 0.9);
  opacity: 0.2;
}

#dashboard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  padding: 1.5em 1.5em 1.5em 230px;
  background: #752d43;
}

#dashboard.ng-hide-add, #dashboard.ng-hide-remove {
  -webkit-transition: all 0.3s cubic-bezier(0.69, 0.17, 0.16, 0.92);
          transition: all 0.3s cubic-bezier(0.69, 0.17, 0.16, 0.92);
}

#dashboard.ng-hide {
  left: 100vw;
}

#widgets {
  display: none;
  font-size: 70%;
}

h1 {
  color: #ed9890;
}

h1, h2, h3, h4 {
  font-family: 'proxima-nova', sans-serif;
  margin: 0 0 1em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  color: #a3586d;
}
a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #a3586d;
}
a.active, a:hover {
  color: #ed9890;
}
a.active:after, a:hover:after {
  background: #ed9890;
}

ul {
  padding: 0 0 0 1.1em;
}

li {
  margin-bottom: 0.5em;
}

.widgets {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.widgets.widgets-empty {
  min-height: 180px;
}
.widgets .widget {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1em;
  min-width: 48%;
  max-width: 48%;
}

.widget.ng-move,
.widget.ng-enter,
.widget.ng-leave {
  -webkit-transition: none;
          transition: none;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.widget-container {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1em;
}
.widget-container.full {
  -webkit-box-flex: 2;
  -webkit-flex: 2 100%;
      -ms-flex: 2 100%;
          flex: 2 100%;
}
.widget-container.half {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 48%;
  max-width: 48%;
}

.widget {
  border: 2px solid #66273b;
  color: #a3586d;
  text-align: center;
  border-radius: 5px;
  padding: 3em 1em;
  -webkit-transition: border 0.3s cubic-bezier(0.69, 0.17, 0.16, 0.92);
          transition: border 0.3s cubic-bezier(0.69, 0.17, 0.16, 0.92);
}
.widget.widget-ghost {
  background: transparent;
  border: 2px dashed #a3586d;
}
.widget:hover .widget-options {
  opacity: 1;
}
.widget.added:after {
  content: '\f00c';
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 180px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  top: -2px;
  left: -2px;
  border: 2px solid #f74750;
  background: #f74750;
  font-family: FontAwesome;
  font-size: 3em;
  color: #752d43;
  -webkit-animation: pop-in 0.2s cubic-bezier(0.69, 0.17, 0.16, 0.92);
          animation: pop-in 0.2s cubic-bezier(0.69, 0.17, 0.16, 0.92);
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.widget-options {
  opacity: 0;
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  -webkit-transition: opacity 0.1s cubic-bezier(0.69, 0.17, 0.16, 0.92);
          transition: opacity 0.1s cubic-bezier(0.69, 0.17, 0.16, 0.92);
}
.widget-options a:after {
  display: none;
}
.widget-options i {
  color: #f74750;
  font-size: 175%;
}

.grabber {
  cursor: move;
  cursor: -webkit-grabbing;
}
