<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Drag & Drop Dashboard Concept</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://use.typekit.net/lzp0hnu.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
    
    <link rel="stylesheet" href="css/normalize.css">

    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <body ng-app="app" ng-controller="MainController as m">

		<nav id="side-nav" role='navigation'>
				<h3>
					<i ng-hide="m.dragging || m.adding"
						 class="fa fa-2x fa-hand-paper-o"></i>
					<i ng-show="m.dragging || m.adding"
						 class="fa fa-2x fa-hand-grab-o"></i><br><br>
					Drag &amp; Drop Dashboard Concept</h3>
			
				<ul>
						<li>
								<a ui-sref="dashboard"
									 ui-sref-active="active">
									Dashboard
								</a>
						</li>
						<li>
								<a ui-sref="billing"
									 ui-sref-active="active">
									Billing
								</a>
						</li>
						<li>
								<a ui-sref="customers"
									 ui-sref-active="active">
									Customers
								</a>
						</li>
						<li>
								<a ui-sref="about"
									 ui-sref-active="active">
									About
								</a>
						</li>
				</ul>
		</nav>

		<main id="main" ng-hide="m.adding">
				<div ui-view></div>
		</main>
	
		<div id="dashboard" ng-show="m.adding">
				<div ng-include="'dashboard.html'"></div>
		</div>
	
		<nav id="widgets">
			<pre>{{ m.activeWidgets | json }}</pre>
		</nav>

		<!-- templates -->
		<script type="text/ng-template" id="dashboard.html">
				<h1>Your Dashboard</h1>
				<p ng-hide="m.adding">Your customizable dashboard.</p>
				<p ng-show="m.adding">Drop the widget below.</p>

				<div class="widgets"
						 ng-class="{ 'widgets-empty' : m.activeWidgets.length === 0 && m.adding }"
						 ng-sortable="m.widgetsConfig">
						<section class="widget"
										 ng-repeat="widget in m.activeWidgets"
										 ng-class="{ 'added': m.added == widget.id }">
							
								<aside class="widget-options"
											 ng-hide="m.adding || m.dragging">
										<a href="#"
											 ng-click="m.toggleWidget(widget.id)">
											<i class="fa fa-trash-o"></i></a>
										<a href="#" class="grabber">
											<i class="fa fa-hand-paper-o"></i></a>
								</aside>

								<div ng-include="widget.template"
										 ng-dynamic-controller="widget.controller"></div>

						</section>
				</div>
			
				<div ng-hide="m.activeWidgets.length > 0 || m.adding">
					<i class="fa fa-meh-o fa-5x"></i>
					<br><br>
					<h2>Click on a report to the left to find widgets to drag here.</h2>
					Your dashboard is lonely. As you're looking through reports, if you see something you like, while hovering over the item click on the <i class="fa fa-hand-stop-o"></i> icon and drag it to your dashboard.
				</div>
		</script>

		<script type="text/ng-template" id="billing.html">
				<h1>Billing</h1>
				<p>This is the billing view.</p>

				<div class="content">
					
						<section class="widget-container half"
										 ng-sortable="m.widgetConfig">
								<div class="widget"
										 ng-repeat="widget in m.findWidgets(1)">
										<aside class="widget-options">
												<a href="#" ng-show="m.hasWidget(1)">
														<i class="fa fa-check"></i>
												</a>
												<a href="#" class="grabber"
													 ng-hide="m.hasWidget(1)">
														<i class="fa fa-hand-paper-o"></i>
												</a>
										</aside>
										<div ng-include="m.findWidget[1].template"></div>
								</div>
						</section>
						<section class="widget-container half"
										 ng-sortable="m.widgetConfig">
								<div class="widget"
										 ng-repeat="widget in m.findWidgets(2)">
										<aside class="widget-options">
												<a href="#" ng-show="m.hasWidget(2)">
														<i class="fa fa-check"></i>
												</a>
												<a href="#" class="grabber" 
													 ng-hide="m.hasWidget(2)">
														<i class="fa fa-hand-paper-o"></i>
												</a>									
										</aside>
										<div ng-include="m.findWidget[2].template"></div>
								</div>
						</section>
						<section class="widget-container half"
										 ng-sortable="m.widgetConfig">
								<div class="widget"
										 ng-repeat="widget in m.findWidgets(3)">
										<aside class="widget-options">
												<a href="#" ng-show="m.hasWidget(3)">
														<i class="fa fa-check"></i>
												</a>
												<a href="#" class="grabber" 
													 ng-hide="m.hasWidget(3)">
														<i class="fa fa-hand-paper-o"></i>
												</a>									
										</aside>
										<div ng-include="m.findWidget[3].template"></div>
								</div>
						</section>
					
				</div>
		</script>
	
		<script type="text/ng-template" id="customers.html">
				<h1>Customers</h1>
				<p>This is the customers view.</p>

				<div class="content">
						<section class="widget-container half"
										 ng-sortable="m.widgetConfig">
								<div class="widget"
										 ng-repeat="widget in m.findWidgets(4)">
										<aside class="widget-options">
												<a href="#" ng-show="m.hasWidget(4)">
														<i class="fa fa-check"></i>
												</a>
												<a href="#" class="grabber"
													 ng-hide="m.hasWidget(4)">
														<i class="fa fa-hand-paper-o"></i>
												</a>
										</aside>
										<div ng-include="m.findWidget[4].template"></div>
								</div>
						</section>
						<section class="widget-container half"
										 ng-sortable="m.widgetConfig">
								<div class="widget"
										 ng-repeat="widget in m.findWidgets(5)">
										<aside class="widget-options">
												<a href="#" ng-show="m.hasWidget(5)">
														<i class="fa fa-check"></i>
												</a>
												<a href="#" class="grabber" 
													 ng-hide="m.hasWidget(5)">
														<i class="fa fa-hand-paper-o"></i>
												</a>									
										</aside>
										<div ng-include="m.findWidget[5].template"></div>
								</div>
						</section>
						<section class="widget-container half"
										 ng-sortable="m.widgetConfig">
								<div class="widget"
										 ng-repeat="widget in m.findWidgets(6)">
										<aside class="widget-options">
												<a href="#" ng-show="m.hasWidget(6)">
														<i class="fa fa-check"></i>
												</a>
												<a href="#" class="grabber" 
													 ng-hide="m.hasWidget(6)">
														<i class="fa fa-hand-paper-o"></i>
												</a>									
										</aside>
										<div ng-include="m.findWidget[6].template"></div>
								</div>
						</section>
				</div>
		</script>
	
		<script type="text/ng-template" id="about.html">
				<h1>About</h1>
			
				<p>This demo uses Angular.js. Each draggable widget can have it's own controller and scope with it's own data calls and logic. Not only does this demo show off a neat visual interaction, but it boasts a functional, thought out solution to the seperation of concerns for each widget.</p>
			
			<p>Feel free to review my code and suggest a better way to do this. I tried to get it to work with UI-router, but there didn't seem to be an effective way that didn't sacrifice flexibility.</p>
			
			<p>Other stuff used...</p>
			<ul>
				<li>Sortable.js</li>
				<li>UI-Router</li>
				<li>FontAwesome</li>
				<li>Underscore.js</li>
			</ul>	
		</script>

		<script type="text/ng-template" id="billing.overview.html">
				<i class="fa fa-line-chart fa-2x"></i><br><br>
				billing scope test: {{ b.munnies }}
		</script>

		<script type="text/ng-template" id="billing.detail.html">
				<i class="fa fa-bar-chart fa-2x"></i><br><br>
				billing scope test: {{ b.munnies }}
		</script>
	
		<script type="text/ng-template" id="billing.list.html">
				<i class="fa fa-list fa-2x"></i><br><br>
				billing scope test: {{ b.munnies }}
		</script>
	
		<script type="text/ng-template" id="customers.overview.html">
				<i class="fa fa-user fa-2x"></i><br><br>
				customer scope test: {{ c.munnies }}
		</script>

		<script type="text/ng-template" id="customers.detail.html">
				<i class="fa fa-users fa-2x"></i><br><br>
				customer scope test: {{ c.munnies }}
		</script>
	
		<script type="text/ng-template" id="customers.list.html">
				<i class="fa fa-list-alt fa-2x"></i><br><br>
				customer scope test: {{ c.munnies }}
		</script>

</body>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.min.js'></script>
<script src='https://cdn.rawgit.com/RubaXa/Sortable/master/Sortable.js'></script>
<script src='https://cdn.rawgit.com/RubaXa/Sortable/dev/ng-sortable.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
