<div class="page">
    <div class="pageheader">
        <h2>Details</h2>
    </div>

    <div class="row" ng-init="init()">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen01">
                <div class="tile-body">
                <h3>Id: {{itemDetails.id}}</h3>
                <ul>
                    <li ng-class="{hiddenblock: checkInformationVisibility(itemDetails.name)}">Name: {{itemDetails.name}}</li>
                    <li ng-class="{hiddenblock: checkInformationVisibility(itemDetails.name)}">E-Mail: {{itemDetails.mail}}</li>
                    <li ng-class="{hiddenblock: checkInformationVisibility(itemDetails.name)}">Address: {{itemDetails.address}}</li>
                    <li ng-class="{hiddenblock: checkInformationVisibility(itemDetails.name)}">Telephone: {{itemDetails.telephone}}</li>
                </ul>
                <h3>Ref: {{itemDetails.value}}</h3>
                <ul>
                    <li ng-class="{hiddenblock: checkInformationVisibility(itemDetails.name)}">Information: {{itemDetails.information}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>