<div class="page">
	<div class="pageheader">
		<h2>{{page.title}}</h2>
		<div class="content" ng-init="init()">
			<h1>Inserted Data in MongoDB</h1> -
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Value</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="res in result">
						<td>{{res.id}}</td>
						<td>{{res.value}}</td>
						<td><a ui-sref="app.updates({itemId: res.id})"><i class="fa fa-pencil-square-o"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
