<div class="page">
    <div class="pageheader">
        <h2>Updates</h2>
    </div>
    <div class="pagecontent" ng-init="init()">
        <!-- row -->
        <section class="tile row">
            <!-- tile body -->
            <div class="tile-body">
                <form role="form" ng-submit="updateDetails()">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" ng-model="itemDetails.name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" ng-model="itemDetails.mail" />
                    </div>
                    <div class="form-group">
                        <label for="telephone">Telephone:</label>
                        <input type="tel" class="form-control" id="telephone" ng-model="itemDetails.telephone" />
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" ng-model="itemDetails.address" />
                    </div>
                    <div class="form-group">
                        <label for="information">Information:</label>
                        <input type="text" class="form-control" id="information" ng-model="itemDetails.information" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </section>
    </div>
</div>
