/* Coolors Exported Palette - coolors.co/f74750-752d43-ba8f5b-a3586d-ed9890 */

$color1: #f74750; //rgba(247, 71, 80, 100)
$color2: #752d43; //rgba(117, 45, 67, 100)
$color3: #ba8f5b; //rgba(186, 143, 91, 100)
$color4: #a3586d; //rgba(163, 88, 109, 100)
$color5: #ed9890; //rgba(237, 152, 144, 100)

$easing: cubic-bezier(.69,.17,.16,.92);

$nav-width: 230px;

* { box-sizing: border-box; }

body {
	display: flex;
	background: $color2;
	color: $color4;
	font-family: 'source-code-pro', monospace;
}

#side-nav {
	position: fixed;
	z-index: 10;
	min-width: $nav-width;
	max-width: $nav-width;
	height: 100vh;
	background: $color2;
	color: white;
	
	h3 {
		margin: 0;
		padding: 1.5em 1.25em;
		color: $color1;
	}
	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		line-height: 2.5em;
		height: 2.5em;
		padding: 0 1.5em;
		margin: 0;
		a {
			i {
				position: relative;
				font-size: 175%;
				text-align: center;
				top: 0.15em;
				margin-right: 0.5em;
				width: 1.25em;
			}
			&:before {
				display: none;
			}
		}
	}
}

#main {
	width: 100%;
	padding: 1.5em 1.5em 1.5em $nav-width;
	background: $color2;
}
#main.ng-hide-add, #main.ng-hide-remove {
  transition: all 0.3s $easing;
}
#main.ng-hide {
	transform: scale3d(0.9,0.9,0.9);
  opacity: 0.2;
}

#dashboard {
	position: fixed;
	top: 0; left: 0;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	padding: 1.5em 1.5em 1.5em $nav-width;
	background: $color2;
}
#dashboard.ng-hide-add, #dashboard.ng-hide-remove {
  transition: all 0.3s $easing;
}
#dashboard.ng-hide {
  left: 100vw;
}

#widgets {
	display: none;
	font-size: 70%;
}

// typopgraphy
h1 { color: $color5; }
h1, h2, h3, h4 {
	font-family: 'proxima-nova', sans-serif;
	margin: 0 0 1em;
	font-weight: 700;
}
h3 { font-size: 1.35em; }

p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

a {
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'proxima-nova', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	color: $color4;
	
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -4px;
		width: 100%;
		height: 2px;
		background: $color4;
	}
	
	&.active, &:hover {
		color: $color5;
		&:after { background: $color5; }
	}
}

ul {
	padding: 0 0 0 1.1em;
}
li {
	margin-bottom: 0.5em;
}

// modules
.widgets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&.widgets-empty {
		min-height: 180px;
	}
	
	.widget {
			position: relative;
			flex: 1;
			margin-bottom: 1em;
			min-width: 48%; max-width: 48%;
	}
}
.widget.ng-move,
.widget.ng-enter,
.widget.ng-leave {
  transition: none;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.widget-container {
	position: relative;
	flex: 1;
	margin-bottom: 1em;
	
	&.full { flex: 2 100%; }	
	&.half { flex: 1; min-width: 48%; max-width: 48%; }
}

.widget {
		//background: darken($color2, 4);
		border: 2px solid darken($color2, 4);
		color: $color4;
		text-align: center;
		border-radius: 5px;
		padding: 3em 1em;
		transition: border 0.3s $easing;
	
		&.widget-ghost {
			background: transparent;
			border: 2px dashed $color4;
		}

		&:hover {
			.widget-options { opacity: 1; }
		}
	
		&.added {
			&:after {
				content: '\f00c';
				position: absolute;
				width: 100%;
				height: 100%;
				line-height: 180px;
				border-radius: 5px;
				text-align: center;
				vertical-align: middle;
				top: -2px;
				left: -2px;
				border: 2px solid $color1;
				background: $color1;
				font-family: FontAwesome;
				font-size: 3em;
				color: $color2;
				
				animation: pop-in 0.2s $easing;
			}
		}
}
@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pop-in {
	0% { transform: scale(0); }
	80% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

.widget-options {
	opacity: 0;
	position: absolute;
	top: 0.75em; right: 0.75em;
	transition: opacity 0.1s $easing;
	
	a:after {
			display: none;
	}
	
	i {
		color: $color1;
		font-size: 175%;
	}
}

.grabber {
		cursor: move;
    cursor: -webkit-grabbing;
}