.container {
  margin: 200px;
}

.load {
  height: 100px;
  position: relative;
  width: 100px;
}

/*Text group*/
.text-group {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 99;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.text-group.active {
  opacity: 1;
}

.text-group .text {
  white-space: nowrap;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.text-group.text-0 .text {
  margin-top: -10px;
  margin-left: 80px;
}

.text-group.text-1 .text {
  margin-top: -10px;
  margin-left: 80px;
}

.text-group.text-2 .text {
  margin-top: -10px;
  margin-left: 80px;
}

.text-group.text-0 .line1 {
  border-top: #6bcd5c 1px solid;
  transform: rotate(-45deg);
  width: 80px;
  height: 1px;
  margin-top: -28px;
  margin-left: -11px;
}

.text-group.text-0 .line2 {
  border-top: #6bcd5c 1px solid;
  width: 20px;
  height: 1px;
  margin-top: -30px;
  margin-left: 57px;
}

.text-group.text-1 .line1 {
  border-top: #6bcd5c 1px solid;
  width: 77px;
  height: 1px;
}

.text-group.text-2 .line1 {
  border-top: #6bcd5c 1px solid;
  transform: rotate(45deg);
  width: 80px;
  height: 1px;
  margin-top: 28px;
  margin-left: -11px;
}

.text-group.text-2 .line2 {
  border-top: #6bcd5c 1px solid;
  width: 20px;
  height: 1px;
  margin-top: 26px;
  margin-left: 57px;
}

.load-pulse {
  animation: pulse 2000ms linear infinite;
  position: absolute;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
  top: 50px;
}

.load-pulse-container {
  margin-top: -50px;
  left: 0;
  /** height is required as absolute value **/
  background-color: #6bcd5c;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.load-pulse-container:after,
.load-pulse-container:before {
  margin: 0px;
  margin-left: -50px;
  display: inline-block;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #6bcd5c;
}

.load-pulse-container:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.load-pulse-container:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@keyframes outer-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes outer-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes inner-ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

body {
  color: white;
  text-align: center;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}